* {
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

#sketchSquare {
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

#controls {
  width: 600px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row {
  flex: auto;
  display: flex;
}

.column {
  /* border: 1px solid red; */
  flex: auto;
  background-color: white;
}

.ctrlElement {
  flex-grow: 1;
}

label {
  font-size: 18px;
  font-weight: bold;
}

#amount {
  display: block;
  width: 60%;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

#clear {
  width: 80%;
  height: 50px;
  border-radius: 5px;
  box-shadow: 3px 3px #333;
  background-color: darkblue;
  color: #f4f4f4;
  font-weight: bold;
  margin-left: -20px;
}

#clear:active {
  scale: 1.1;
}

#colors {
  display: flex;
  flex-direction: row;
  margin-right: -40px;
}

.colorRows {
  display: flex;
  flex-direction: column;
}

.colors {
  width: 20px;
  height: 20px;
  margin: 4px;
}

.colors:hover {
  box-shadow: 3px 3px #333;
}

.colors:active {
  scale: 1.1;
}

#currentColor {
  background-color: black;
  width: 76px;
  height: 76px;
  margin: 4px;
  flex-grow: 0;
  box-shadow: 4px 4px #333;
}

.transition {
  transition: 1s;
  background-color: black;
}